.form {
  background-color: white;
  width: 21em;
  border-radius: 8px;
  padding: 1em 2em;
  box-shadow: 0 10px 25px #5c636933;
  color: #000;
}

.fieldset {
  position: relative;
  height: 2.4em;
  width: 90%;
  margin-bottom: 1em;
  border: none;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 0.8em;
  padding: 0 1em;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 0.7em;
  font-weight: 600;
  color: purple;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  border: 0.5px solid purple;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #bccae5;
  font-size: 0.8em;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 0.7em 1.5em;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 1.5em;
}

.submitBtn:hover {
  background-color: #9867c5;
  transform: translateY(-2px);
}